#chatmessages {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header{
	background-color: rgb(233, 236, 235);
	padding: 15px;
}

#Julian {
	display: flex;
	flex-direction: column-reverse;
	overflow-y: auto;
	margin: 5px 0;
}

.positionnement-active {
	text-align: right;
}

.positionnement-inactive {
	text-align: left;
}

.message {
	display: inline-block;
	padding: 0px;
	margin: 0px;
	width: auto;
	max-width: 50%;
	word-wrap: break-word;
}

/*
	border: 1px solid black;
	border-radius: 25px;
*/


.active {
	border: 20px solid rgb(87, 12, 163);
	border-radius: 25px 25px 2px 25px ; 
	background-color: rgb(87, 12, 163);
	color: white;
	margin: 7px;
}

.inactive {
	border: 20px solid rgb(241, 250, 250);
	border-radius: 25px 25px 25px 0px ; 
	background-color: rgb(241, 250, 250);
	color: rgb(0, 0, 0);
	margin: 7px;

}
