#input-send {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 16px;
}

#send {
	text-transform: uppercase;
	cursor: pointer;
	color: rgb(87, 12, 163);
}

#input{
	width: 100%;

}

input{
	/* max-width: 40vh;
	min-width: 30vh; */
	width: calc(100% - 30px);
	margin: 0 15px;
	padding: 12px 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 25px;
	box-sizing: border-box;	
	background-color: rgb(241, 250, 250);
	outline: none;

	
}

#input{
	width: 100%;

}

input{
	/* max-width: 40vh;
	min-width: 30vh; */
	width: calc(100% - 30px);
	margin: 0 15px;
	padding: 12px 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 25px;
	box-sizing: border-box;	
	background-color: rgb(241, 250, 250);
	outline: none;

	
}
