body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, Sans-Serif;

}

#root {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

#main {
	text-align: center;
	margin: 0 auto;
	width: 40%;
	max-width: 400px;
	min-width: 300px;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 8px;
}

#main-chatmessages {
	height: calc(100% - 30px);
}
